body {
    background-color: rgb(31, 31, 31);
    color: white
}

h1 {
    text-align: center
}

button {
    background-color: black;
    color: rgb(19, 65, 146)
}

#back {
    font-size: 45px;
    position: absolute;
    left: 0;
    top: 0
}

p {
    font-size: 24px
}

h5 {
    display: inline-block;
    font-size: 28px;
    position: relative;
    bottom: 50px
}

h4 {
    font-size: 35px;
    position: relative;
    bottom: 55px
}

#grayRect {
    background-color: rgb(53, 57, 64);
    z-index: -1;
    width: 725px;
    position: absolute;
    right: 0;
    top: 230px;
    display: flex;
    flex-direction: column-reverse
}

.parentForPair {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.avatars {
    width: 45px;
    height: 45px;
    border-radius: 55px
}

.nicks {
    font-size: 30px;
    position: relative;
    left: 15px;
    bottom: 25px
}

.comments {
    position: relative;
    left: 15px;
    width: 700px;
    padding: 0
}

#otsenka {
    position: relative;
    bottom: 75px
}

#otzivi {
    position: absolute;
    top: 125px;
    right: 560px
}
